li {
	list-style: none;
}

.clock-widget {
	width: 470px;
	margin: 20px auto;
}

.form {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	margin-bottom: 20px;
}

.form-field {
	width: 30%;
}

.form-input, .add-btn {
	box-sizing: border-box;
	padding: 5px;
	background-color: #fff;
	border: 1px solid black;
	outline: none;
}

.clock-list {
	display: flex;
	flex-wrap: wrap;
}

.clock {
  display: flex;
  flex-direction: column;
}

.clock-item {
	width: 30%;
}

.clock-item:not(:nth-child(3n)) {
	margin-right: 15px;
}

.clock-name {
  margin-bottom: 0;
}

.clock-value {
	width: 50%;
	padding: 10px;
	border: 1px solid black;
}

.delete-btn {
	text-align: end;
	font-weight: bold;
	font-size: 18px;
	background-color: #fff;
	border: none;
}
